@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

$number-color: #cfd8dc;
$equal-color: #1de9b6;
$operator-color: #00b0ff;
$other-color: darken($number-color, 15%); //button sizes
$button-size: 7rem;
$font-size: $button-size / 3;
$diplay-font-family: 'Press Start 2P', cursive;

html {
  min-height: 100%;
}

button {
  width: $button-size !important;
  height: $button-size !important;
  font-size: $font-size;
  margin: 0 0.5rem;

  &.big-button {
    margin: 0 0.5rem !important;
    max-width: $button-size * 4 !important;
    min-width: $button-size * 2 !important;
  }

  &.other {
    background-color: $other-color;
  }

  &.operator {
    background-color: $operator-color;
  }

  &.number {
    background-color: $number-color;
  }

  &.equal {
    background-color: $equal-color;
  }
}

.operator:hover {
  background-color: darken($operator-color, 10%);
}

.other:hover {
  background-color: darken($other-color, 10%);
}

.number:hover {
  background-color: darken($number-color, 10%);
}

.equal:hover {
  background-color: darken($equal-color, 10%);
}

.display {
  font-family: 'Press Start 2P', roboto;
  background-color: $number-color;
  height: $button-size * 2 !important;
  width: 1rem + $button-size * 4 !important;
  border-radius: 3px;
  margin: 0 0.5rem !important;
  position: relative;
}

.current,
.equation {
  position: absolute;
}

p {
  margin: 0;
  display: inline-block;
}

.current {
  font-size: $font-size - .5rem;
  top: 1rem;
  left: 1rem;
}

#answer {
  font-size: $font-size;
}

#equation {
  font-size: $font-size - .5rem;
  bottom: 1rem;
  right: 1rem;
  color: lighten(black, 30%);
}
